<% provide(:title, "Identificarse") %>
<div class="well">
  <h1>Bienvenido a Pinkunozo</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Identificarse", class: "btn btn-lg btn-primary" %>
      <% end %>

      <p>¿Nuevo usuario? <%= link_to "¡Registrate ahora!", signup_path %></p>
    </div>
  </div>
</div>