<% provide(:title, @milestone.name) %>
<div class="well">
  <%= render 'projects/header' %>
  <div class="well">
    <div class="row">
      <h2><%= @milestone.name%></h2>
      <dl class="dl-horizontal">  
        <dt>Descripción</dt>
        <dd><%= @milestone.description%></dd>
        <dt>Tipo de elemento</dt>
        <dd><%= @milestone.type_of_milestone%></dd>
        <% if @milestone.type_of_milestone != 'Acuerdo' %>
            <dt>Responsable</dt>
            <dd><%= @milestone.user.name%></dd>
        <% end %>
        <dt>Estado</dt>
        <dd><%= @milestone.status%></dd>
      </dl>
    </div>
  </div>
</div>
