<%= form_for([@project, @act], html: {class: 'form-horizontal'}) do |f| %>
    <div class='form-group'>
      <%= f.label :date, 'Fecha', class: 'col-sm-2 control-label'%>
      <div class='col-sm-4'>
        <%= f.date_field :date, class: 'form-control' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :attendant_ids, 'Asistentes', class: 'col-sm-2 control-label'%>
      <div class='col-sm-4'>
        <%= f.collection_check_boxes :attendant_ids, @project.users, :id, :name do |b|%>
            <div class='checkbox'>
              <%=b.label(:"data-value" => b.value) { b.check_box(class: 'checkbox-input') + b.text}%>
            </div>
        <%end%>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :secretary_id, 'Secretario(a)', class: 'col-sm-2 control-label'%>
      <div class='col-sm-4'>
        <%= f.collection_select :secretary_id, @project.users, :id, :name, {},  {class: 'form-control'} %>
      </div>
    </div>
    <h3>Temas</h3>
    <div class='form-group rounded-corners-border'>
      <%= f.fields_for :topics do |topic| %>
          <%=render 'topic_fields', :f => topic %>
      <% end %>
      <div class='col-sm-12'>
        <%=link_to_add_association 'Añadir tema', f, :topics %>
      </div>
    </div>
    <h3>Síntesis</h3>
    <div class='form-group rounded-corners-border'>
      <%= f.fields_for :milestones do |milestone| %>
          <%=render 'milestone_fields', :f => milestone %>
      <% end %>
      <div class='col-sm-12'>
        <%=link_to_add_association 'Añadir hito', f, :milestones %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-2 col-sm-10'>
        <button type='submit' class='btn btn-primary'>Guardar</button>
      </div>
    </div>
<% end %>