<%= form_for([@project, @act], html: {class: 'form-horizontal'}) do |f| %>
    <div class="row text-center">
      <% if !@act.date %>
          <h2 class="col-sm-11">Nueva acta</h2>
      <% else %>
          <h2 class="col-sm-11">Acta del <%= l @act.date , format: :long %></h2>
      <% end %>
      <button type="button" class="col-sm-1 collapse-button btn btn-primary" data-toggle="collapse" data-target="#act-info">
      </button>
    </div>

    <div id="act-info" class="row collapse in">
        <div class='form-group'>
          <%= f.label :date, 'Fecha', class: 'col-sm-1 control-label'%>
          <div class='col-sm-4'>
            <%= f.date_field :date, class: 'form-control' %>
          </div>
          <%= f.label :secretary_id, 'Secretario(a)', class: 'col-sm-1 control-label'%>
          <div class='col-sm-4'>
            <%= f.collection_select :secretary_id, @project.participants, :id, :name, {},  {class: 'form-control'} %>
          </div>
        </div>
        <div class='form-group'>
          <%= f.label :attendant_ids, 'Asistentes', class: 'col-sm-1 control-label'%>
          <div class='col-sm-11'>
            <%= f.collection_check_boxes :attendant_ids, @project.participants, :id, :name do |b|%>
                <div class='checkbox-inline'>
                  <%=b.label(:"data-value" => b.value) { b.check_box(class: 'checkbox-input') + gravatar_for(b.object, size: 32)}%>
                </div>
            <%end%>
          </div>
        </div>
    </div>
    <div class='form-group well'>
      <div class='col-sm-6'>
        <h3>Temas</h3>
      </div>
      <div class='col-sm-6'>
        <h3>Síntesis</h3>
      </div>
      <div id="topics">
        <%= f.fields_for :topics do |topic| %>
            <%=render 'topic_fields', :f => topic %>
        <% end %>
        <div class='col-sm-12'>
          <%=link_to_add_association 'Añadir tema', f, :topics%>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-12'>
        <button type='submit' class='btn btn-primary'>Guardar</button>
      </div>
    </div>
<% end %>