<div class='nested-fields'>
    <div class='col-sm-11 field'>
      <%= f.label :name, 'Nombre', class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class='col-sm-1'>
      <%= link_to_remove_association "<span class='glyphicon glyphicon-trash delete-button'></span>".html_safe, f, class: 'btn-lg' %>
    </div>
    <div class='col-sm-11 field'>
      <%= f.label :description, 'Descripción', class: 'control-label' %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class='col-sm-11 field'>
        <%= f.label :user_id, 'Responsable', class: 'control-label' %>
        <%= f.collection_select :user_id, @project.users, :id, :name, {}, {class: 'form-control'}%>
    </div>
    <div class='col-sm-11 field'>
      <%= f.label :type_of_milestone, 'Tipo de elemento', class: 'control-label' %>
      <%= f.select :type_of_milestone, [['Acuerdo', 'Acuerdo'], ['Desacuerdo', 'Desacuerdo'],
                           ['Compromiso', 'Compromiso'], ['Duda', 'Duda']], {},
                   { :class => 'form-control' } %>
    </div>
    <div class='col-sm-11 field'>
      <%= f.label :status, 'Estado', class: 'control-label' %>
      <%= f.select :status, [['Vigente', 'Vigente'], ['En ejecución', 'En ejecución'],
                           ['Suspendido', 'Suspendido']], {},
                   { :class => 'form-control' } %>
    </div>
  </div>