<div class='row'>
  <h2>Acta del <%= l @act.date , format: :long %></h2>
</div>
<% @act.topics.each do |topic| %>
<div class='row'>
  <div class='col-sm-12'>
    <div class='col-sm-6'>
      <dl>
        <dt>Nombre</dt>
        <dd><%= topic.name%></dd>

        <dt>Dicusión</dt>
        <dd><%= topic.discussion%></dd>
      </dl>
    </div>
    <div class='col-sm-6'>
      <div class='col-sm-12'>
        <%topic.milestones.each do |milestone|%>
          <div>
            <dl>
              <dt>Nombre</dt>
              <dd><%= milestone.name%></dd>
              <dt>Descripción</dt>
              <dd><%= milestone.description%></dd>
              <dt>Responsable</dt>
              <dd><%= milestone.user.name%></dd>
              <dt>Tipo de elemento</dt>
              <dd><%= milestone.type_of_milestone%></dd>
              <dt>Estado</dt>
              <dd><%= milestone.status%></dd>
              <div class="text-right">
                <%= link_to 'Vincular', '#', class:'btn btn-primary' %>
              </div>
              <div class='horizontal-divider col-sm-10 col-sm-offset-1'>
              </div>
            </dl>
          </div>

        <%end%>
      </div>
    </div>
    <div class='horizontal-divider col-sm-10 col-sm-offset-1'>
    </div>
  </div>
</div>
<%end%>